.ipynb_checkpoints/
.DS_Store
__pycache__

# TODO: Ignore directories with large amounts of data
*data*
*wandb*

# Ignore notebooks for now as well
*.ipynb

# Ignore all slurm files
slurm*

# Ignore downloaded models
models/*

# Ignore non FMPlug directories
*bkse*
*experiments*
*motionblur*